* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid green;
}

#root {
  display: flex;
  width: 100%;
}

body {
  background-color: rgb(149, 95, 29);
  background-image: url("./assets/images/soloBackground.jpeg");
  background-blend-mode: difference;
  width: 100%;
  
  background-size: cover;
  background-repeat: no-repeat;
  
  justify-content: center;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  font-size: 2rem;
  text-align: center;
}

#shrugSec {
  display: flex;
  justify-content: center;
}

@media (max-width: 848px) {
  #shrugSec {
      align-items: center;
      flex-direction: column;}
}

#shrug1end {
  background-color: yellow;
  border-top-left-radius: 25px;
  color: black;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

#shrug1ended {
  background-color: yellow;
  border-bottom-right-radius: 25px;
  color: black;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

#shrug2end {
 border-top-right-radius: 25px;
  background-color: red;
  color: white;
 text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

#shrug2ended {
  background-color: red;
  border-bottom-left-radius: 25px;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

#shrug1 {
  background-color: yellow;
  color: black;
 text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

#shrug2 {
  background-color: red;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

#load {
  text-align: center;
  font-size: 12rem;
}

#pic {
  display: flex;
  justify-content: center;
}

#images {
  background-color: white;
  border-radius: 25px;
  padding: .5em;
  max-width: 100%;
}

#clickText {
  font-size: 2rem;
  text-align: center;
}

#number {
  color: white;
  font-size: 2rem;
  text-align: center;
}






