* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid green;
}

html, body {
  background-color: rgb(149, 95, 29);
  background-image: url("./assets/images/soloBackground.jpeg");
  background-blend-mode: difference;

  background-size: 150%;
  background-repeat: repeat;
  justify-content: center;
 
}

#shrug1end {
  background-color: yellow;
  border-top-left-radius: 25px;
  color: black;
 text-align: center;
  font-size: 3rem;
  margin: 0;
}

#shrug1ended {
  background-color: yellow;
  border-bottom-right-radius: 25px;
  color: black;
 text-align: center;
  font-size: 3rem;
  margin: 0;
}

#shrug2end {
 border-top-right-radius: 25px;
  background-color: red;
  color: white;
 text-align: center;
  font-size: 3rem;
  margin: 0;
}

#shrug2ended {
  background-color: red;
  border-bottom-left-radius: 25px;
  color: white;
 text-align: center;
  font-size: 3rem;
  margin: 0;
}




#shrug1 {
  
  background-color: yellow;
  color: black;
 text-align: center;
  font-size: 3rem;
  margin: 0;
}

#shrug2 {

  background-color: red;
  color: white;
 text-align: center;
  font-size: 3rem;
  margin: 0;
}

#load {
  text-align: center;
  font-size: 12rem;
}
#pic {
  margin-top: 2rem;
}
#images {
  background-color: white;
  border-radius: 25px;

  padding: .5em;
}

section {

  display: flex;
  justify-content: center;
}

#number {
  color: white;
  font-size: 2rem;
}

#click {
  margin-bottom: 2rem;
}
#button {
  
  background-color: white;
  color: black;
  box-shadow: 12px 12px 2px 1px black;
}



